@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;500;600;700&display=swap");

/*
font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

section {
  height: 100vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
  height: 400px;
}

.welcome-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 10px;
}

.welcome-description {
  display: block;
  line-height: 19px;
  margin-bottom: 30px;
}

.btn-start {
  width: 200px;
  height: 55px;
  background-color: #4d5b9e;
  color: #fff;
  border-radius: 15px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  font-size: 20px;
  line-height: 19px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  font-family: "Inter", sans-serif;
}

.btn-start:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.quiz-container {
  text-align: center;
  max-width: 990px;
}

.quiz-post {
  padding: 10px 0px;
  border-bottom: 0.8px solid #dbdef0;
}

.question {
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  color: #293264;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

li {
  list-style: none;
  cursor: pointer;
  user-select: none;
}

.answer-list {
  min-width: 90px;
  border: 1.3px solid #293264;
  border-radius: 10px;
  padding: 7px 20px;
  margin: 10px;
  background-color: #fff;
}

.btn {
  background-color: #f5f7fb;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #4d5b9e;
  cursor: pointer;
  height: 50px;
  padding: 0px 25px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.mt {
  margin-top: 45px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-family: "Inter";
  font-weight: 700;
  font-size: 17px;
  line-height: 15px;
  text-align: center;
  color: #293264;
  margin-right: 25px;
}
